/*********************************** DARK MODE - BACKGROUND ***********************************************/
.animatedBG-dark {
  background: black !important;
}
.bg-dark {
  background: #1a1a1a !important;
}
.bg2-dark {
  background: #0d0d0d !important;
}
.bg3-dark {
  background: #141414 !important;
}
.bg4-dark {
  background: #292929 !important;
}


